<header>
  <mat-toolbar>
    <mat-toolbar-row>
      <div>
        <a routerLink="/home" routerLinkActive="active">
          <img class="img-responsive" src="assets/images/logo.png">
        </a>
      </div>

      <div fxFlex></div>

      <div>
        <a routerLink="/home" routerLinkActive="active">
          <mat-icon>home</mat-icon>
          <span class="aligned-with-icon">Home</span>
        </a>
      </div>

      <div>
        <a routerLink="/about" routerLinkActive="active">
          <mat-icon>info</mat-icon> 
          <span class="aligned-with-icon">About</span>          
        </a>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
</header>