<div fxLayout="row wrap" fxLayoutGap="10">
    <div fxFlex.gt-sm="100" fxFlex.lt-md="100" fxLayout="column">
        <mat-card>
            <p>
                This application is developed in Angular & Spring Boot and is hosted on Heroku cloud.
                The subtitle service is provided by
                <a href="http://www.opensubtitles.org/" target="_blank">http://www.opensubtitles.org/</a>.
            </p>
            <p>
                Developed by Sridhar Iyer.
            </p>

            <p>
                LinkedIn: <a href="https://www.linkedin.com/in/sridiyer" target="_blank">sridiyer</a>
            </p>
            <p>
                Github: <a href="https://github.com/sridharib" target="_blank">sridharib</a>
            </p>
            <p>
                Twitter: <a href="https://twitter.com/sridiyer" target="_blank">sridiyer</a>
            </p>
        </mat-card>
        <div id="disqus_thread"></div>
    </div>
</div>


<!-- Disqus -->
<script>
    /**
     *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
     *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
     */
    
    var disqus_config = function () {
        this.page.url = 'https://tubecc.herokuapp.com/';  // Replace PAGE_URL with your page's canonical URL variable
        this.page.identifier = 'tube-cc'; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    };
    
    function loadComments() {  // DON'T EDIT BELOW THIS LINE
        var d = document, s = d.createElement('script');
        
        s.src = '//tubecc.disqus.com/embed.js';
        
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
    };
  </script>  