<div fxLayout="row wrap" fxLayoutGap="10">
    <div fxFlex.gt-sm="100" fxFlex.lt-md="100" fxLayout="column">
        <mat-card>
            <p>
                This application is developed in Angular & Spring Boot and is hosted on Heroku cloud.
                The subtitle service is provided by
                <a href="http://www.opensubtitles.org/" target="_blank">http://www.opensubtitles.org/</a>.
            </p>
            <p>
                Developed by Sridhar Iyer.
            </p>

            <p>
                LinkedIn: <a href="https://www.linkedin.com/in/sridiyer" target="_blank">sridiyer</a>
            </p>
            <p>
                Github: <a href="https://github.com/sridharib" target="_blank">sridharib</a>
            </p>
            <p>
                Twitter: <a href="https://twitter.com/sridiyer" target="_blank">sridiyer</a>
            </p>
        </mat-card>
    </div>
</div>