<div fxLayout="row wrap" fxLayoutGap="1%">
    <div fxFlex.gt-sm="55" fxFlex.lt-md="100" fxLayout="column">
        <mat-card>
            <mat-form-field style="width: 100%;">
                <mat-label>Enter Youtube or Vimeo URL here</mat-label>
                <input matInput type="text" [(ngModel)]="vidSrc">
                <button mat-button *ngIf="vidSrc" matSuffix mat-icon-button aria-label="Done" (click)="updatePlyrURL()">
                    <mat-icon>done</mat-icon>
                </button>
                <button mat-button *ngIf="vidSrc" matSuffix mat-icon-button aria-label="Clear" (click)="vidSrc=''">
                    <mat-icon>close</mat-icon>
                </button>
            </mat-form-field>

            <div class="media-wrapper">
                <video id="vid1" class="video-js vjs-default-skin" controls autoplay width="640" height="264"
                    data-setup='{ "techOrder": ["youtube"], "sources": [{ "type": "video/youtube", "src": "https://www.youtube.com/watch?v=xjS6SftYQaQ"}] }'>
                </video>
            </div>
        </mat-card>
    </div>

    <div fxFlex.gt-sm="44" fxFlex.lt-md="100" fxLayout="column">
        <mat-card>
            <mat-form-field style="width: 100%;">
                <mat-label>Search for subtitle</mat-label>
                <input matInput type="text" [(ngModel)]="searchTitle">
                <button mat-button *ngIf="searchTitle" matSuffix mat-icon-button aria-label="Done"
                    (click)="searchSubtitle()">
                    <mat-icon>search</mat-icon>
                </button>
                <button mat-button *ngIf="searchTitle" matSuffix mat-icon-button aria-label="Clear"
                    (click)="searchTitle=''; searchResults=[]">
                    <mat-icon>close</mat-icon>
                </button>
            </mat-form-field>

            <div class="table-container">
                <table mat-table [dataSource]="searchResults">
                    <ng-container matColumnDef="subFileName">
                        <th mat-header-cell *matHeaderCellDef> File Name </th>
                        <td mat-cell *matCellDef="let element"> {{element.subFileName}} </td>
                    </ng-container>

                    <ng-container matColumnDef="languageName">
                        <th mat-header-cell *matHeaderCellDef> Language </th>
                        <td mat-cell *matCellDef="let element"> {{element.languageName}} </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="loadSubtitle(row)"></tr>
                </table>
            </div>

        </mat-card>
    </div>
</div>